<h1>Create an Account</h1>

<form action="/adventurers" method="post">
<h2><label>What is your name?</label></h2>
   <input type="text" name="name">
<h2><label>What kind of adventurer are you?</label></h2>
   <input type="text" name="role" placeholder="e.g. Thief"><br><br><br>
<input type="submit" value="Create Account">
</form>