<h1>Welcome to the Bubbling Cauldron!</h1>

<h2>How Can We Help You Today?</h2>
<form action="/potions" method="get">
<input type="submit" value="Browse Potions" />
</form>

<form action="/purchases/new" method="get">
<input type="submit" value="Buy a Potion" />
</form>

<form action="/adventurers" method="get">
<input type="submit" value="See Adventurers" />
</form>
