<h1>Welcome to The Void Beyond!</h1>

<img src="https://thumbs.gfycat.com/ShrillNippyKilldeer-max-1mb.gif"/>

<h2>How Can We Help You Today?</h2>
<form action="/potions" method="get">
<input type="submit" value="Browse Potions" />
</form><br>

<form action="/purchases/new" method="get">
<input type="submit" value="Buy Potions" />
</form><br>

<form action="/adventurers" method="get">
<input type="submit" value="See Adventurers" />
</form><br>

<h3><i>New to Adventuring?</i>
<form action="/adventurers/new" method="get">
<input type="submit" value="Create an Account" />
</form><br>
</h3>



